* {
    padding: 0;
    margin: 0;
    outline: 0;
}

a:hover,
a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family:sans-serif;
}

p {
    padding: 0;
    margin: 0;

}


body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;

}

/*header ares start*/
.header {
    height: 80px;
    line-height: 80px;
    background: rgba(0, 0, 0, 0.72);
}

.menu_area {
    display: flex;
    justify-content: space-between;

}

.logo a {
    color: #ffa700;
    font-size: 40px;
    font-family: 'Kaushan Script',
        cursive;
}

.main-menu {
    display: flex;
}

.main-menu li a {
    display: block;
    padding: 0 25px;

    color: #ffffff;
    transition: all linear 0.3s;
}

.main-menu li a:hover {
    background: #d3d2d2;
    color: #0f1fde;
}

/*header ares end*/
/*banner ares start*/
.banner {
    background: url(../image/hotel-room-1261900_1920.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}

.banner_overlay {
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 0;
    color: #ffffff;

}

.form_box {
    height: 455px;
    width: 380px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
}

.button_box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 25px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
.social-icons{
    margin: 30px auto;
text-align: center;
    
}
.social-icons img{
  width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
    
}
.input-group{
    top: 150px;
    position: absolute;
    width: 280px;
    transition:0.5s;
   margin-left: 45px;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px  0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}
.submit-btn{
    width: 80%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin:10px;
    margin-top: 25px;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30%;
}
/*banner ares end*/
